black
ruff
mypy
tox
psycopg
django
django-environ
django-silk
pytest-django
pytest-randomly
pytest-cov
factory-boy
django-structlog
strawberry-graphql[asgi]
strawberry-graphql-django
uvicorn[standard]
